body {
    background-image: url("peen.jfif");
    background-color: #cccccc;
   }
p {
    font-size: 15px;
  }
  
p {
    font-size: large;
  }
  
p {
    font-size: 150%;
  }
  #name{font-size :150%;color:blue;font-family:cursive;}
  .right{background-color: lightskyblue;}
  .bb{background-color: crimson;}
  .M{background-position: 1ch;font-style: italic;}